.index-about-section {
    margin-top: 5%;
}

.index-about-name {
    margin-top: 2rem;
    font-size: 2rem;
}

.index-about-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.index-about-section p {
    font-size: 1.2rem;
    color: white;
    font-weight: 300;
}


.downloadResume a {
    font-size: 1rem;
    padding: 0.525rem 0.8rem;
    color: #fff;
    font-weight: 700;
    line-height: 0.8;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    margin: 0 0 1.25rem 0;
    position: relative;
}

.downloadResume a:hover {
    text-decoration: none;
    background-color: white;
    color: black !important;
}